<!-- index.hbs -->
<h1>Gardens</h1>
<table id="gardens-table">
    {{!-- Header section --}}
    <thead>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.ID}}>
            <td>{{this.ID}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Address}}</td>
            <td>{{this.City}}</td>
            <td>{{this.Zip}}</td>
            <td><button onclick="deleteGarden({{this.ID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

    <h2>Add a Garden</h2>
    <div>
        <div class="form-container">
            <form id="add-garden-form-ajax">
                <label for="input-add-garden-name">Garden Name:</label>
                <input type="text" id="input-add-garden-name" name="input-add-garden-name" required>
                <br>
                <label for="input-add-garden-streetAddress">Garden Street Address:</label>
                <input type="text" id="input-add-garden-streetAddress" name="input-add-garden-streetAddress" required>
                <br>
                <label for="input-add-garden-city">Garden City:</label>
                <input type="text" id="input-add-garden-city" name="input-add-garden-city" required>
                <br>
                <label for="input-add-garden-zipCode">Garden Zip Code:</label>
                <input type="text" id="input-add-garden-zipCode" name="input-add-garden-zipCode" required>
                <br>
                <input type="submit" value="Add Garden">
            </form>
        </div>
    </div>
    <br>
    <h2>Update a Garden</h2>
    <div>
        <div class="form-container">
            <form id="update-garden-form-ajax">
                <label for="input-update-garden-id">Garden ID:</label>
                <select id="input-update-garden-id" name="input-update-garden-id" required>
                    {{#each gardenIDs}}
                    <option value={{this.gardenID}}>{{this.gardenID}} {{this.gardenName}}</option>
                    {{/each}}
                </select>
                {{!-- <input type="number" id="input-update-garden-id" name="input-update-garden-id" required> --}}
                <br>
                <label for="input-update-garden-name">Garden Name:</label>
                <input type="text" id="input-update-garden-name" name="input-update-garden-name" required>
                <br>
                <label for="input-update-garden-streetAddress">Garden Street Address:</label>
                <input type="text" id="input-update-garden-streetAddress" name="input-update-garden-streetAddress" required>
                <br>
                <label for="input-update-garden-city">Garden City:</label>
                <input type="text" id="input-update-garden-city" name="input-update-garden-city" required>
                <br>
                <label for="input-update-garden-zipCode">Garden Zip Code:</label>
                <input type="text" id="input-update-garden-zipCode" name="input-update-garden-zipCode" required>
                <br>
                <input type="submit" value="Update Garden">
            </form>
        </div>
    </div>
    <br>

<script src="./js/add_garden.js"></script>
<script src="./js/delete_garden.js"></script>
<script src="./js/update_garden.js"></script>