{{!-- Create a table --}}

{{! Copy of hard coded Gardeners example data for ref}}

{{!-- <h1>Gardeners</h1>
<div>
    <table>
        <thead>
            <tr>
                <th>Gardener ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Street Address</th>
                <th>City</th>
                <th>Zip Code</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Joe</td>
                <td>Schmoe</td>
                <td>555 W Lake Dr.</td>
                <td>Portland</td>
                <td>97123</td>
                <td>joe.schmoe@email.com</td>
                <td>504-621-8927</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Alice</td>
                <td>Smith</td>
                <td>234 Elm St.</td>
                <td>Aurora</td>
                <td>80015</td>
                <td>alice.smith@email.com</td>
                <td>856-636-8749</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Carol</td>
                <td>White</td>
                <td>135 Birch St.</td>
                <td>Aurora</td>
                <td>80016</td>
                <td>carol.white@email.com</td>
                <td>856-636-8749</td>
            </tr>
        </tbody>
    </table>
    <br>
</div> --}}

<h1>Display All Gardeners:</h1>
<div>
    <table id="gardeners-table">
        {{!-- Header section --}}
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
        </thead>

        {{! Body section}}
        <tbody>

            {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
            {{#each data}}
            <tr data-value={{this.gardenerID}}>
                <td>{{this.gardenerID}}</td>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.streetAddress}}</td>
                <td>{{this.city}}</td>
                <td>{{this.zip}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phone}}</td>
                <td><button onclick="deleteGardener({{this.gardenerID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <br>
</div>
<script src="./js/delete_gardener.js"></script>


{{!-- Form to add a Gardener to the table --}}
<h2>Add a Gardener</h2>
<p>To add a new Gardener's details, please enter their information below and click 'Submit'!</p>
<form id="add-gardener-form-ajax">

    <label for="input-fname">First Name: </label>
    <input type="text" name="input-fname" id="input-fname">
    <br>

    <label for="input-lname">Last Name: </label>
    <input type="text" name="input-lname" id="input-lname">
    <br>

    <label for="input-address-gardener">Street address: </label>
    <input type="text" name="input-address-gardener" id="input-address-gardener">
    <br>

    <label for="input-city-gardener">City: </label>
    <input type="text" name="input-city-gardener" id="input-city-gardener">
    <br>

    <label for="input-zip-gardener">Zip: </label>
    <input type="text" name="input-zip-gardener" id="input-zip-gardener">
    <br>

    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email">
    <br>

    <label for="input-phone">Phone: </label>
    <input type="text" name="input-phone" id="input-phone">
    <br>

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_gardener.js"></script>


<h2>Update a Gardener</h2>
<div>
    <div class="form-container">
        <form>
            <label for="gardener-id">Id:</label>
            <input type="number" min="1" max="2" id="gardener-id" name="gardener-id" required>
            <br>
            <label for="gardener-first-name">First Name:</label>
            <input type="text" id="gardener-first-name" name="gardener-first-name" required>
            <br>
            <label for="gardener-last-name">Last Name:</label>
            <input type="text" id="gardener-last-name" name="gardener-last-name" required>
            <br>
            <label for="gardener-street-address">Street Address:</label>
            <input type="number" id="gardener-street-address" name="gardener-street-address" required>
            <br>
            <label for="gardener-city">City:</label>
            <input type="number" id="gardener-city" name="gardener-city" required>
            <br>
            <label for="gardener-zip">Zip Code:</label>
            <input type="number" id="gardener-zip" name="gardener-zip" required>
            <br>
            <label for="gardener-email">Email:</label>
            <input type="number" id="gardener-email" name="gardener-email" required>
            <br>
            <label for="gardener-phone">Phone Number:</label>
            <input type="number" id="gardener-phone" name="gardener-phone" required>
            <br>
            <input type="submit" value="Update Gardener">
        </form>
    </div>
</div>
<br>