<!-- index.hbs -->
<h1>Gardens</h1>
<button>Show all Gardens</button>
    {{!-- Create a table --}}
<table id="gardens-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.gardenID}}</td>
            <td>{{this.gardenName}}</td>
            <td>{{this.streetAddress}}</td>
            <td>{{this.city}}</td>
            <td>{{this.zip}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

    <h2>Add a Garden</h2>
    <div>
        <div class="form-container">
            <form>
                <label for="garden-name">Garden Name:</label>
                <input type="text" id="garden-name" name="garden-name" required>
                <br>
                <label for="garden-streetAddress">Garden Street Address:</label>
                <input type="text" id="garden-streetAddress" name="garden-streetAddress" required>
                <br>
                <label for="garden-city">Garden City:</label>
                <input type="text" id="garden-city" name="garden-city" required>
                <br>
                <label for="garden-zipCode">Garden Zip Code:</label>
                <input type="text" id="garden-zipCode" name="garden-zipCode" required>
                <br>
                <input type="submit" value="Add Garden">
            </form>
        </div>
    </div>
    <br>
    <h2>Update a Garden</h2>
    <div>
        <div class="form-container">
            <form>
                <label for="garden-id">Garden ID:</label>
                <input type="number" id="garden-id" name="garden-id" required>
                <br>
                <label for="garden-name">Garden Name:</label>
                <input type="text" id="garden-name" name="garden-name" required>
                <br>
                <label for="garden-streetAddress">Garden Street Address:</label>
                <input type="text" id="garden-streetAddress" name="garden-streetAddress" required>
                <br>
                <label for="garden-city">Garden City:</label>
                <input type="text" id="garden-city" name="garden-city" required>
                <br>
                <label for="garden-zipCode">Garden Zip Code:</label>
                <input type="text" id="garden-zipCode" name="garden-zipCode" required>
                <br>
                <input type="submit" value="Update Garden">
            </form>
        </div>
    </div>
    <br>
    <h2>Delete a Garden</h2>
    <div>
        <div class="form-container">
            <form>
                <label for="garden-id">Garden ID:</label>
                <input type="number" min="1" max="2" id="garden-id" name="garden-id" required>
                <br>
                <input type="submit" value="Delete Garden">
                <!-- Needs to delete all referenced entities (plots) -->
            </form>
        </div>
    </div>