{{!-- Create a table --}}

<h1>Display All Gardeners:</h1>
<table id="gardeners-table">
    {{!-- Header section --}}
    <thead>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>

    {{! Body section}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.gardenerID}}>
            <td>{{this.gardenerID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.streetAddress}}</td>
            <td>{{this.city}}</td>
            <td>{{this.zip}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td><button onclick="deleteGardener({{this.gardenerID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br>
</div>


{{!-- Form to add a Gardener to the table --}}
<h2>Add a Gardener</h2>
<p>To add a new Gardener's details, please enter their information below and click 'Submit'!</p>
<form id="add-gardener-form-ajax">

    <label for="input-fname">First Name: </label>
    <input type="text" name="input-fname" id="input-fname">
    <br>

    <label for="input-lname">Last Name: </label>
    <input type="text" name="input-lname" id="input-lname">
    <br>

    <label for="input-address-gardener">Street address: </label>
    <input type="text" name="input-address-gardener" id="input-address-gardener">
    <br>

    <label for="input-city-gardener">City: </label>
    <input type="text" name="input-city-gardener" id="input-city-gardener">
    <br>

    <label for="input-zip-gardener">Zip: </label>
    <input type="text" name="input-zip-gardener" id="input-zip-gardener">
    <br>

    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email">
    <br>

    <label for="input-phone">Phone: </label>
    <input type="text" name="input-phone" id="input-phone">
    <br>

    <input type="submit">
</form>



<br>
<h2>Update a Gardener</h2>
<div>
    <div class="form-container">
        <form id="update-gardener-form-ajax">

            <label for="input-update-gardener-id">Garden:</label>
            <select id="input-update-gardener-id" name="input-update-gardener-id" required>
                <option value="default-gardener">Select a Gardener</option>
                {{#each data}}
                <option value="{{{this.gardenerID}}}">{{this.gardenerID}} {{{this.firstName}}} {{{this.lastName}}}
                </option>
                {{/each}}
            </select>
            <br>
            <label for="input-update-gardener-first-name">First Name:</label>
            <input type="text" id="input-update-gardener-first-name" name="input-update-gardener-first-name" required>
            <br>
            <label for="input-update-gardener-last-name">Last Name:</label>
            <input type="text" id="input-update-gardener-last-name" name="input-update-gardener-last-name" required>
            <br>
            <label for="input-update-gardener-streetAddress">Gardener Street Address:</label>
            <input type="text" id="input-update-gardener-streetAddress" name="input-update-gardener-streetAddress"
                required>
            <br>
            <label for="input-update-gardener-city">Gardener City:</label>
            <input type="text" id="input-update-gardener-city" name="input-update-gardener-city" required>
            <br>
            <label for="input-update-gardener-zipCode">Gardener Zip Code:</label>
            <input type="text" id="input-update-gardener-zipCode" name="input-update-gardener-zipCode" required>
            <br>
            <label for="input-update-gardener-email">Gardener Phone:</label>
            <input type="text" id="input-update-gardener-email" name="input-update-gardener-email" required>
            <br>
            <label for="input-update-gardener-phone">Gardener Email:</label>
            <input type="text" id="input-update-gardener-phone" name="input-update-gardener-phone" required>
            <br>
            <input type="submit" value="Update Gardener">
        </form>
    </div>
</div>
<br>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}

<script src="./js/gardener/update_gardener.js"></script>
<script src="./js/gardener/delete_gardener.js"></script>
<script src="./js/gardener/add_gardener.js"></script>