{{! Display all Invoices data}}
<div class="page-table">
    <h1 class="table-name">Invoices</h1>
    <table id="invoices-table" class="goc-table">
        <thead>
            <tr>
                <th>invoiceID</th>
                <th>Gardener</th>
                <th>Total Cost</th>
            </tr>
        </thead>
        {{! Fill out Invoice table with data}}
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.invoiceID}}</td>
                <td>{{this.gardenerID}} {{this.firstName}} {{this.lastName}}</td>
                <td>${{toFixed this.totalCost 2}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{! Instructions for Invoices & InvoiceDetails}}
<br>
<h5>Important: </h5>
<p>InvoiceDetails rows are like line items on a reciept, and Invoices are the grand total at the bottom of the
    receipt.
    Each row in the Invoices table represents the total amount owed by one Gardener for all their purchases
    represented
    in the
    InvoiceDetails table. </p>

<p>Before creating an InvoiceDetails row, an Invoices row must be created. The totalCost attribute will be set to a
    starting value of $0.00. When an InvoiceDetails item is added, the totalCost of the
    Invoice will be updated.</p>

<p>Invoices cannot be edited or deleted, but if a Gardener is deleted, that Gardener's record in the Invoices and
    InvoiceDetails
    tables will be converted to NULL values.</p>

{{! Add Invoice form}}
<div class="page-forms">
    <form class="col g-1" id="add-invoice-form-ajax">
        <span class="form-name">Add Invoice</span>
        <div class="input row-auto">

            {{! Dynamically populated dropdown list of Gardeners}}
            <label for="input-gardenerID-invoices" class="col-sm-2 row-form-label">Gardener</label>
            <select class="form-select" type="text" class="form-control" placeholder="Garden Name"
                id="input-gardenerID-invoices" name="input-gardenerID-invoices" required>
                <option value="default-gardener-invoice">Select a Gardener</option>
                {{#each gardenerIDs}}
                <option value="{{this.gardenerID}}">{{this.gardenerID}} {{this.firstName}} {{this.lastName}}
                </option>
                {{/each}}
            </select>
        </div>

        {{! Add Invoice submit button}}
        <div class="input row-auto">
            <button type="submit" class="form-btn btn btn-primary mb-3">Add</button>
            {{!<input type="submit" value="Add">}}
        </div>

    </form>
</div>

<script src="./js/invoices/add_invoice.js"></script>