<!-- index.hbs -->

<h1>Display All Invoices</h1>
{{!-- Create a table --}}
<table id="invoices-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.invoiceID}}</td>
            <td>{{this.gardenerID}}</td>
            <td>{{this.totalCost}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


<h2>Add an Invoice</h2>
<p>To add an Invoice, select a Gardener.
    <br>
    When an InvoiceDetails item is added, the totalCost of the
    Invoice will be updated.
    <br>
    Invoices cannot be deleted, but if a Gardener is deleted, that Gardener's record in the Invoices and InvoiceDetails
    tables will be converted to NULL values.
</p>
<form id="add-invoice-form-ajax">

    <label for="input-gardenerID-invoices">Gardener</label>
    <select type="text" id="input-gardenerID-invoices" name="input-gardenerID-invoices" required>
        <option value="default-gardener-invoice">Select a Gardener</option>
        {{#each gardenerIDs}}
        <option value="{{this.gardenerID}}">{{this.gardenerID}} {{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>
    <br>
    <input type="submit" value="Add">

</form>

<script src="./js/invoices/add_invoice.js"></script>