{{! Citations for Invoices.hbs:
Date: 06/08/2024
All Invoices Handlebars adapted from node-js-starter-app example code:
https://github.com/osu-cs340-ecampus/nodejs-starter-app/

Display all Invoices table adapted from Step 4,
with dynamic delete buttons based on Step 7.
Add Invoice form adapted from Step 5,
with dynamic drop down menus adapted from Step 6.
}}

{{!--
----- Citations for Handlebars Helpers usage -----
----- Date: 10 June 2024
------ Adapted from Handlebars Helpers example code in Handlebars.js documentation to create and use
------ a custom Handlebars Helper to convert JSON object to string.
------ Source URL: https://handlebarsjs.com/guide/builtin-helpers.html
------ Source URL: https://handlebarsjs.com/guide/expressions.html#helpers
--}}

{{! Display all Invoices data as a table}}
<div class="page-table">

    {{! Table title and column headers}}
    <h1 class="table-name">Invoices</h1>
    <table id="invoices-table" class="goc-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Gardener</th>
                <th>Total Cost</th>
            </tr>
        </thead>

        {{! Fill out rows with data}}
        <tbody>
            {{#each data}}
            <tr data-value={{this.invoiceID}}>
                <td>{{this.invoiceID}}</td>
                <td>{{stringifyNull this.gardenerID}} {{this.firstName}} {{this.lastName}}</td>
                <td>${{toFixed this.totalCost 2}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{! Instructions for Invoices & InvoiceDetails}}
<center>
    <br>
    <h5>Important: </h5>
    <p>InvoiceDetails rows are like line items on a reciept, and Invoices are the grand total.</p>
    <p>When an InvoiceDetails item is added, its Invoice will be updated.</p>
</center>

{{! Add Invoice form}}
<div class="page-forms">
    <div>
        <form class="col g-1" id="add-invoice-form-ajax">
            <span class="form-name">Add Invoice</span>

            {{! Dropdown menu of Gardeners}}
            <div class="input row-auto">
                <select class="form-select" id="input-gardenerID-invoices" name="input-gardenerID-invoices" required>
                    <option value="default">Select a Gardener</option>
                    {{#each gardenerIDs}}
                    <option value="{{this.gardenerID}}">{{this.gardenerID}} {{this.firstName}} {{this.lastName}}
                    </option>
                    {{/each}}
                </select>
            </div>

            {{! Add Invoice submit button}}
            <div class="input row-auto">
                <button type="submit" class="form-btn btn btn-primary mb-3">Add</button>
            </div>

        </form>
    </div>

    <div>
        <form class="col g-1" id="update-invoice-form-ajax">
            <span class="form-name">Remove Gardener</span>
            <span class="form-details">By removing a Gardener, any Invoices associated with that Gardener will
                <i>freeze,</i> and no
                longer allow the addition of Invoice Details, or the reassignment of a Gardener to the Invoice.</span>
            {{! Dropdown menu of Gardeners}}
            <div class="input row-auto">
                <select class="form-select" id="input-update-gardenerID-invoices"
                    name="input-update-gardenerID-invoices" required>
                    <option value="default">Select a Gardener</option>
                    {{#each invoiceGardenerIDs}}
                    <option value="{{this.gardenerID}}">{{this.gardenerID}} {{this.firstName}} {{this.lastName}}
                    </option>
                    {{/each}}
                </select>
            </div>

            {{! Add Invoice submit button}}
            <div class="input row-auto">
                <button type="submit" class="form-btn btn btn-primary mb-3">Remove</button>
            </div>

        </form>
    </div>
</div>
<script src="./js/invoices/add_invoice.js"></script>
<script src="./js/invoices/update_invoice.js"></script>