<h1>Plants</h1>
<table id="plants-table">
    {{!-- Header section --}}
    <thead>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, varietyName, type, and price, in order --}}
        {{#each data}}
        <tr data-value={{this.Id}}>
            <td>{{this.Id}}</td>
            <td>{{this.Variety}}</td>
            <td>{{this.Type}}</td>
            <td>{{this.Price}}</td>
            <td><button onclick="deletePlant({{this.Id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_plant.js"></script>


<h2>Adding a Plant</h2>
<p>To add a new plant, please enter its information below and click 'Submit'!</p>
<form id="add-plant-form-ajax">
    <label for="input-varietyName">Variety Name: </label>
    <input type="text" name="input-varietyName" id="input-varietyName">
    <br>
    <label for="input-plant-type">Type: </label>
    <input type="text" name="input-plant-type" id="input-plant-type">
    <br>
    <label for="input-price">Price: </label>
    <input type="number" name="input-price" id="input-price">
    <br>
    <input type="submit">
</form>


{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_plant.js"></script>



<h2>Updating a Plant Price</h2>
<p>To update a specific Plant's price select its ID from the drop-down menu and then input the new price.</p>
<form id="update-plant-form-ajax">

    <label for="input-plantID">Plant ID: </label>
    <select id="input-plantID" name="input-plantID">
        <option value="test">Select a Plant</option>
        {{#each plantIDs}}
        <option value="{{this.plantID}}">{{this.plantID}}</option>
        {{/each}}
    </select>

    <br>
    <label for="input-price">Price: </label>
    <input type="number" name="input-price" id="input-price">
    <br>
    <input type="submit">

</form>

<script src="./js/update_plant.js"></script>