<!-- index.hbs -->
<h1>Plants Plots</h1>
<table id="plantsplots-table">
    {{!-- Header section --}}
    <thead>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{!-- For each row, print the id, varietyName, type, and price, in order --}}
        {{#each data}}
        <tr data-value={{this.plantsPlotsID}}>
            <td>{{this.plantsPlotsID}}</td>
            <td>{{this.plotID}}</td>
            <td>{{this.plantID}}</td>
            <td>{{this.varietyName}}</td>
            <td>{{this.type}}</td>
            <td>{{this.gardenName}}</td>
            <td><button onclick="deletePlot({{this.plantsPlotsID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
    <br>
    <h2>Add a Plant Plot</h2>
    <div class="form-container">
        <form>
            <label for="plants-plots-plot-name">Plot</label>
            <select type="text" id="plants-plots-plot-name" name="plants-plots-plot-name" required>
                <option value="default-plot">Select a Plot</option>
                {{#each data}}
                <option value={{this.plotID}}>{{this.plotID}} {{this.gardenName}}</option>
                {{/each}}
            </select>
            <br>
            <label for="plants-plots-plant-name">Plot</label>
            <select type="text" id="plants-plots-plant-name" name="plants-plots-plant-name" required>
                <option value="default-plant">Select a Plant</option>
                {{#each data}}
                <option value={{this.plantID}}>{{this.plantID}} {{this.varietyName}} {{this.type}}</option>
                {{/each}}
            </select>
            <br>
            <input type="submit" value="Add">
        </form>
    </div>
</div>