{{! Citations for Plants.hbs:
Date: 06/08/2024
All Plants Handlebars adapted from node-js-starter-app example code:
https://github.com/osu-cs340-ecampus/nodejs-starter-app/

Display all Plants table adapted from Step 4,
with dynamic delete buttons based on Step 7.
Add Plant form adapted from Step 5.
Update Plant form adapted from Step 8.
Dynamic drop down menus adapted from Step 6.
}}

 {{!-- 
 ----- Citations for Handlebars Helpers usage -----
 ----- Date: 10 June 2024
------ Adapted from Handlebars Helpers example code in Handlebars.js documentation to create and use 
------ a custom Handlebars Helper to convert JSON object to string.
------ Source URL: https://handlebarsjs.com/guide/builtin-helpers.html
------ Source URL: https://handlebarsjs.com/guide/expressions.html#helpers
  --}}

{{! Display all Plants as a table}}
<div class="page-table">
    {{! Table title and column headers}}
    <h1 class="table-name">Plants</h1>
    <table id="plants-table" class="goc-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Variety</th>
                <th>Type</th>
                <th>Price</th>
            </tr>
        </thead>

        {{! Fill out rows with data}}
        <tbody>
            {{#each data}}
            <tr data-value={{this.Id}}>
                <td>{{this.Id}}</td>
                <td>{{this.Variety}}</td>
                <td>{{this.Type}}</td>
                <td>${{toFixed this.Price 2}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{! Add a Plant form}}
<div class="page-forms">
    <div>
        <form class="col g-1" id="add-plant-form-ajax">
            <span class="form-name">Add Plant</span>

            {{! Input field for Add Plant Variety}}
            <div class="input row-auto">
                <label for="input-varietyName" class="col-sm-2 row-form-label">Variety</label>
                <input type="text" class="form-control" name="input-varietyName" id="input-varietyName"
                    placeholder="Variety" required>
            </div>

            {{! Input field for Add Plant Name}}
            <div class="input row-auto">
                <label for="input-plant-type" class="col-sm-2 row-form-label">Type</label>
                <input type="text" class="form-control" name="input-plant-type" id="input-plant-type"
                    placeholder="Type" required>
            </div>

            {{! Input field for Add Plant price}}
            <div class="input row-auto">
                <label for="input-price" class="col-sm-2 row-form-label">Price</label>
                <input type="number" class="form-control" step="0.01" name="input-price" id="input-price"
                    placeholder="Price" required>
            </div>


            {{! Add Plant submit button}}
            <div class="input row-auto">
                <button type="submit" class="form-btn btn btn-primary mb-3">Add</button>
            </div>
        </form>


        {{! Update a Plant price form}}
        <div>
            <form class="col g-1" id="update-plant-form-ajax">
                <span class="form-name">Update Plant Price</span>

                {{! Dropdown menu to select Plant to Update}}
                <div class="input row-auto">
                    <select class="form-select" id="input-plantID" name="input-plantID" required>
                        <option value="default">Select a Plant</option>
                        {{#each plantIDs}}
                        <option value="{{this.plantID}}">{{this.plantID}} {{this.varietyName}} {{this.type}}</option>
                        {{/each}}
                    </select>
                    <br>

                    {{! Input field for Update Plant Price}}
                    <label for="input-price-update" class="col-sm-2 row-form-label">Price</label>
                    <input type="number" class="form-control" step="0.01" name="input-price-update"
                        id="input-price-update" placeholder="Price" required>
                </div>


                {{! Update Plant submit button}}
                <div class="input row-auto">
                    <button type="submit" class="form-btn btn btn-primary mb-3">Update</button>
                </div>

            </form>
        </div>
        <br>
    </div>

    <script src="./js/plants/update_plant.js"></script>
    <script src="./js/plants/delete_plant.js"></script>
    <script src="./js/plants/add_plant.js"></script>