<h1>Plants</h1>
<table id="plants-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Variety</th>
            <th>Type</th>
            <th>Price</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr data-value={{this.Id}}>
            <td>{{this.Id}}</td>
            <td>{{this.Variety}}</td>
            <td>{{this.Type}}</td>
            <td>${{toFixed this.Price 2}}</td>
            <td><button onclick="deletePlant({{this.Id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Adding a Plant</h2>
<p>To add a new plant, please enter its information below and click 'Submit'!</p>
<form id="add-plant-form-ajax">
    <label for="input-varietyName">Variety</label>
    <input type="text" name="input-varietyName" id="input-varietyName">
    <br>
    <label for="input-plant-type">Type</label>
    <input type="text" name="input-plant-type" id="input-plant-type">
    <br>
    <label for="input-price">Price</label>
    <input type="number" step="0.01" name="input-price" id="input-price">
    <br>
    <input type="submit">
</form>


<h2>Updating a Plant Price</h2>
<p>To update a specific Plant's price select its ID from the drop-down menu and then input the new price.</p>
<form id="update-plant-form-ajax">

    <label for="input-plantID">Plant</label>
    <select id="input-plantID" name="input-plantID">
        <option value="test">Select a Plant</option>
        {{#each plantIDs}}
        <option value="{{this.plantID}}">{{this.plantID}} {{this.varietyName}} {{this.type}}</option>
        {{/each}}
    </select>

    <br>
    <label for="input-price-update">Price</label>
    <input type="number" step="0.01" name="input-price-update" id="input-price-update">
    <br>
    <input type="submit">

</form>

<script src="./js/plants/update_plant.js"></script>
<script src="./js/plants/delete_plant.js"></script>
<script src="./js/plants/add_plant.js"></script>