<h1>Plots Gardeners</h1>
<table id="plotsgardeners-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Plot</th>
            <th>Garden</th>
            <th>Gardener</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr data-value={{this.plotsGardenersID}}>
            <td>{{this.plotsGardenersID}}</td>
            <td>{{this.plotID}}</td>
            <td>{{this.gardenID}} {{this.gardenName}}</td>
            <td>{{this.gardenerID}} {{this.firstName}} {{this.lastName}}</td>
            <td><button onclick="deletePlotGardener({{this.plotsGardenersID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<br>
<h2>Add Gardener Plot</h2>
<div class="form-container">
    <form id="add-plot-gardener-form-ajax">
        <label for="input-add-plot-gardener-plot-id">Plot</label>
            <select type="text" id="input-add-plot-gardener-plot-id" name="input-add-plot-gardener-plot-id" required>
                <option value="default-plot">Select a Plot [PlotID (Garden)]</option>
                {{#each plotIDs}}
                <option value={{this.plotID}}>{{this.plotID}} ({{this.gardenID}} {{this.gardenName}})</option>
                {{/each}}
            </select>

        <br>
        <label for="input-add-plot-gardener-gardener-id">Gardener</label>
        <select type="text" id="input-add-plot-gardener-gardener-id" name="input-add-plot-gardener-gardener-id" required>
            <option value="default-plot">Select a Gardener</option>
                {{#each gardenerIDs}}
                <option value={{this.gardenerID}}>{{this.gardenerID}} {{this.firstName}} {{this.lastName}}</option>
                {{/each}}
        </select>
        <br>
        <input type="submit" value="Add">
    </form>
</div>

<script src="./js/plotsgardeners/add_plotgardener.js"></script>
<script src="./js/plotsgardeners/delete_plotgardener.js"></script>