<!-- index.hbs -->
<h1>Plots Gardeners</h1>
<table id="plotsgardeners-table">
    {{!-- Header section --}}
    <thead>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, varietyName, type, and price, in order --}}
        {{#each data}}
        <tr data-value={{this.plotsGardenersID}}>
            <td>{{this.plotsGardenersID}}</td>
            <td>{{this.plotID}}</td>
            <td>{{this.gardenID}}</td>
            <td>{{this.gardenerID}}</td>
            <td>{{this.gardenName}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td><button onclick="deletePlotGardener({{this.plotsGardenersID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<br>
<h2>Add Gardener Plot</h2>
<div class="form-container">
    <form id="add-plot-gardener-form-ajax">
        <label for="input-add-plot-gardener-plot-id">Plot</label>
            <select type="text" id="input-add-plot-gardener-plot-id" name="input-add-plot-gardener-plot-id" required>
                <option value="default-plot">Select a Plot</option>
                {{#each plotIDs}}
                <option value={{this.plotID}}>{{this.plotID}} {{this.gardenName}}</option>
                {{/each}}
            </select>

        <br>
        <label for="input-add-plot-gardener-gardener-id">Gardener</label>
        <select type="text" id="input-add-plot-gardener-gardener-id" name="input-add-plot-gardener-gardener-id" required>
            <option value="default-plot">Select a Plot</option>
                {{#each gardenerIDs}}
                <option value={{this.gardenerID}}>{{this.gardenerID}} {{this.firstName}} {{this.lastName}}</option>
                {{/each}}
        </select>
        <br>
        <input type="submit" value="Add">
    </form>
</div>

<script src="./js/add_plotgardener.js"></script>
<script src="./js/delete_plotgardener.js"></script>