<div class="page-table">
    <h1>Plots</h1>
    <table id="plots-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Garden</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            {{#each data}}
            <tr data-value={{this.plotID}}>
                <td>{{this.plotID}}</td>
                <td>{{this.gardenID}} {{this.gardenName}}</td>
                <td><button onclick="deletePlot({{this.plotID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="page-forms">
    <form class="col g-1" id="add-plot-form-ajax">
        <span class="form-name">Add Plot</span>
        <div class="input row-auto">
            <label for="input-add-plot-garden-id" class="col-sm-2 row-form-label">Garden</label>
            <select class="form-select" type="text" id="input-add-plot-garden-id" name="input-add-plot-garden-id" required>
                <option value="default-garden">Select a Garden</option>
                {{#each gardenIDs}}
                <option value={{this.gardenID}}>{{this.gardenID}} {{this.gardenName}}</option>
                {{/each}}
            </select>
        </div>
        <div class="input row-auto">
            <button type="submit" class="form-btn btn btn-primary mb-3">Add</button>
        </div>
    </form>
</div>

<script src="./js/plots/add_plot.js"></script>
<script src="./js/plots/delete_plot.js"></script>