{{! Citations for Plots.hbs:
Date: 06/08/2024
All Plots Handlebars adapted from node-js-starter-app example code:
https://github.com/osu-cs340-ecampus/nodejs-starter-app/

Display all Plots table adapted from Step 4,
with dynamic delete buttons based on Step 7.
Add Plot form adapted from Step 5,
with dynamic drop down menus adapted from Step 6.
}}

{{! Display all Plots data as a table}}
<div class="page-table">
    {{! Table title and column headers}}
    <h1 class="table-name">Plots</h1>
    <table id="plots-table" class="goc-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Garden</th>
                <th>Delete</th>
            </tr>
        </thead>

        {{! Fill out rows with data}}
        <tbody>
            {{#each data}}
            <tr data-value={{this.plotID}}>
                <td>{{this.plotID}}</td>
                <td>{{this.gardenID}} {{this.gardenName}}</td>
                <td><button onclick="deletePlot({{this.plotID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{! Add a Plot form}}
<div class="page-forms">
    <form class="col g-1" id="add-plot-form-ajax">
        <span class="form-name">Add Plot</span>

        {{! Dropdown menu to select Garden}}
        <div class="input row-auto">
            <label for="input-add-plot-garden-id" class="col-sm-2 row-form-label">Garden</label>
            <select class="form-select" type="text" id="input-add-plot-garden-id" name="input-add-plot-garden-id"
                required>
                <option value="default-garden">Select a Garden</option>
                {{#each gardenIDs}}
                <option value={{this.gardenID}}>{{this.gardenID}} {{this.gardenName}}</option>
                {{/each}}
            </select>
        </div>

        {{! Add Plot submit button}}
        <div class="input row-auto">
            <button type="submit" class="form-btn btn btn-primary mb-3">Add</button>
        </div>
    </form>
</div>

<script src="./js/plots/add_plot.js"></script>
<script src="./js/plots/delete_plot.js"></script>